name: AMLRO Tests

on:
  push:
    # Avoid using all the resources/limits available by checking only
    # relevant branches and tags. Other branches can be checked via PRs.
    branches: [main]
    tags: ["v[0-9]*", "[0-9]+.[0-9]+*"] # Match tags that resemble a version
  pull_request: # Run in every PR
  workflow_dispatch: # Allow manually triggering the workflow
  # schedule:
  #   # Run roughly every 15 days at 00:00 UTC
  #   # (useful to check if updates on dependencies break the package)
  #   - cron: '0 0 1,16 * *'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tox
        run: pip install tox

      - name: Run tests via tox
        run: tox
